 <div class="wrapper fadeInDown ">
    <div id="formContent" >
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <br>
        <h4 >Connexion</h4> 
      </div>
      
  
      <!-- Login Form -->
      <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          
          <input type="text"
                 id="email"
                 class="form-control"
                 placeholder="Email"
                 formControlName="email">
        </div>

        <div class="form-group">
        <input type="password"
                 id="password"
                 class="fadeIn third"
                 placeholder="Password"
                 formControlName="password">
         </div>

        <button class="btn btn-primary "
        type="submit"
        [disabled]="signinForm.invalid">Se connecter</button>
        
      </form>
      <br>
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <p class="text-danger">{{ errorMessage }}</p>
            </div>
  
    </div>
  </div>